* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: 100px repeat(3, 100x) 150px;
    grid-gap: 15px 20px;
    text-align: center;
    margin: 0 auto;
    width: 1000px;
  }