@import url("https://fonts.googleapis.com/css2?family=Bangers&family=BebasNeue&family=Fredoka+One&family=Questrial&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=MuseoModerno&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color1-aero-blue: #d7fff1;
    --color2-granny-smith-apple: #aafcb8;
    --color3-granny-smith-apple-2: #8cd790;
    --color4-green-sheen: #77af9c;
    --color5-castleton-green: #285943;
}

a {
    border-radius: 25px;
    background-color: var(--color3-granny-smith-apple-2);
    padding: 10px;
    font-family: "Questrial", sans-serif;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.adult-animation {
    border-radius: 50%;

}

.remove-button button {
    padding: 5px;
    border-radius: 50%;
    border-style: none;
    background-color: #d7fff1;
    font-family: "Fredoka One", cursive;

}

.hashtag-input button {
    padding: 3px;
    border-style: none;

}

.hashtags-remove li {
    justify-content: space-between;
}

.hashtag-input {
    font-size: larger;
}


.categories {
    display: inline-block;
    font-size: xx-large;
    font-family: "Questrial", sans-serif;
    justify-content: space-around;
    padding: 20px;
}

.container {
    background-color: var(--color1-aero-blue);
}

.hashtags a {
    font-family: "Questrial", sans-serif;
    background-color: var(--color4-green-sheen);
}

.hashtag-input {
    font-family: "Questrial", sans-serif;
    border: #285943;
    border-radius: 5px;
}

.hashtags-remove {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


header h1 {
    font-family: "Fredoka One", cursive;
    font-size: 65px;
}

header h2 {
    font-family: "Fredoka One", cursive;
    font-size: 40px;
}

h3 {
    border-radius: 25px;
    font-family: "Quicksand", sans-serif;
    background-color: var(--color2-granny-smith-apple);
}

p {
    background-color: var(--color1-aero-blue);
    font-family: 'Fira Sans', sans-serif;
    font-size: larger;
}

.sub-category {
    font-size: x-large;
    padding: 20px;

}

li {
    list-style-type: none;
    padding: 10px;


}
