<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/layout.css"  rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>


    <title>Review Site</title>
</head>
<body>
<div class="container">
    <header>
        <h1>
            Cartoon Show Reviews
        </h1>
    </header>

    <main>
        <p>Hi! Welcome to our Cartoon Show Review Page. All reviews written by our team.
        For your viewing pleasure!
        </p>

        <div class="main-categories">

          <ul>
            <li class="categories" th:each="category: ${categoryNames}">
              <a class="categories" th:text= "${category.name}" th:href="@{'/categories/'+${category.name}}"></a>
            </li>
          </ul>
        </div>
    </main>
    <footer>

    </footer>
</div>
</body>
</html>
