<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/layout.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
<div class="container">
    <header>

        <h2 th:text="${hashtag.hashtagName}">
        </h2>
    </header>
    <main>
        <div>
            <ul>
                <li href th:each="review : ${hashtag.blogPosts}">
                    <a th:text="${review.postTitle}" th:href="@{'/blogPosts/'+${review.postTitle}}">
                    </a>
                </li>

            </ul>

        </div>
    </main>
    <footer>
        <a href="/categories">Back To Categories!</a>
    </footer>
</div>
</body>
</html>
