<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../static/style.css" />
  <link rel="stylesheet" href="../../static/layout.css" />
  <title>th:text="${reviews.showTitle}"</title>
</head>
<body>
<div class="container">
  <header>
    <h2>th:text="${reviews.showTitle}"</h2>
  </header>

  <main>
    <div class="super-jail">
      <div class="super-jail-pic">
        <img
                src="../../static/images/superjail.JPG"
                alt="SuperJail"
                style="width: 300px; height: 400px;"
        />
      </div>
      <p>
        <strong>
          th:text="${reviews.airDate}"
        </strong>
      </p>
      <p>
        th:text="${reviews.description}
        th:text="${reviews.showRating}
      </p>
      <ul>
        <li th:each="hashTag: ${reviews.hashTags}">
          <a th:text= "${hashtag}" th:href="@{'/reviews/'+${hashTag}}">#funny</a>
        </li>
      </ul>
      <!--          <a href="../../static/violent.html">#violent</a>-->
      <!--          <a href="../../static/funny.html">#funny</a>-->
    </div>
  </main>
  <footer>
    <a href="../../static/categories.html">Back To Categories!</a>
  </footer>
</div>
</body>
</html>


<h2> th:text=${review.title}" class="review__title"> Super Jail</h2>
<h3 th:text="${review.author}" class="review__author">name here</h3>-->
<!--        <section class="book">-->
<!--  <h2 th:text="${book.title}" class="book__title">Head First Java</h2>-->
<!--  <h3 th:text="${book.author}" class="book__author">Kathy Sierra</h3>-->
<!--  <p th:text="${book.isbn}" class="book__isbn">ISBN: 978-0-596-00920-5</p>-->
<!--  <p th:text="${book.description}" class="book__description">-->
<!--    Head First Java is a complete learning experience in Java and object-->
<!--    oriented programming.-->
<!--  </p>-->
<!--</section>-->
<!--</-->
<section class = "review">
  <h2> th:text=${review.title}" class="review__title"> Super Jail</h2>




</section>
