<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="/layout.css"  rel="stylesheet"/>
<link href="/style.css" rel="stylesheet"/>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/layout.css"  rel="stylesheet"/>
  <link href="/style.css" rel="stylesheet"/>
  <title th:text="${reviews.showTitle}"></title>
</head>
<body>
<div class="container">
  <header>
    <h2 th:each="reviews: ${reviews}">

    </h2>
  </header>

  <main>
    <div class="super-jail">
      <div class="super-jail-pic">
        <p th:text="${reviews.image}"></p>

      </div>
      <p>
        <strong>
          <p th:text="${reviews.airDate}"></p>
        </strong>
      </p>
      <p>
      <p th:text="${reviews.description}></p>
      <p th:text="${reviews.showRating}></p>
      </p>
      <ul>
        <li th:each="hashTag: ${reviews.hashTags}">
          <a th:text= "${hashTag}" th:href="@{'/reviews/'+${hashTag}}"></a>
        </li>
      </ul>
    </div>
  </main>
  <footer>
    <a href="/categories">Back To Categories!</a>
  </footer>
</div>
</body>
</html>
