<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="/layout.css" rel="stylesheet"/>
<link href="/style.css" rel="stylesheet"/>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/layout.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title th:text="${reviews.postTitle}"></title>
</head>
<body>
<div class="container">
    <header>
        <h2 th:each="reviews: ${reviews}"></h2>
        <h2 th:text="${reviews.postTitle}">

        </h2>
    </header>

    <main>
        <div class="super-jail">
            <div class="super-jail-pic">
                <img th:src="${reviews.imageUrl}">
            </div>

                <strong>
                    <p>Air Date:
            <p th:text="${reviews.airDate}">
            </strong>
        </p>
        </div>

            <p th:text="${reviews.bodyOfPost}"></p>
<!--            <p th:text="${reviews.showRating}"></p>-->
        <!-- Labels / tags -->
        <div class="w3-card w3-margin">
            <div class="w3-container w3-padding">
                <h4>Tags</h4>
            </div>
            <div class="w3-container w3-white">
                <ul>
                <li th:each="hashtags: ${reviews.hashtags}">

                    <a th:text="${hashtags.hashtagName}" th:href="@{'/hashtags/'+${hashtags.id}}">

                    </a>
                    <form action="/hashtags/delete" method="POST" class="remove-button">
                        <input type="hidden" name="hashtagId" th:value="${hashtags.id}">
                        <input type="hidden" name="postTitle" th:value="${reviews.postTitle}">
                        <button type="submit">x</button>
                    </form>
                    </p>
                </li>
                </ul>
            </div>
        </div>



        <form action="/hashtags/add" method="POST" class="hashtag-input">
            <label for="new-hashtags__name-input"></label>
            <input type="text" name="hashtagName" id="new-hashtags__name-input" placeholder="Enter A New #">
            <input type="hidden" name="postTitle" th:value="${reviews.postTitle}">
            <button type="submit">Submit</button>
        </form>


        </form>

    </main>
    <footer>
        <a href="/categories">Back To Categories!</a>
    </footer>
</div>
</body>
</html>
